/* element selector */
body {
    background-color: rgb(4, 0, 255);
    font-family: Times New Roman;
}
/* class selector */
.text-primary {
    color: blue;
}
.col {
    width: 25%;
    float: left;
}
.img-responsive {
    border-radius: 300px;
    width: 100px;
}

@media screen and (min-width: 600px){
    body{
        background-color: darkolivegreen;
    }

    .col-sm-6{
        width: 25%;
        float: left;
    }

}

/* desktop : layout yang ditampilkan 4 kolom */
@media screen and (min-width: 992px) {
    body {
        background-color: aquamarine;
   }
    .col {
        width: 25%;
        float: left;
    }
}
 
